# Ruby
# Package your Ruby project.
# Add steps that install rails, analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/ruby

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UseRubyVersion@0
  inputs:
    versionSpec: '>= 2.5'

- script: |
    gem install bundler
  displayName: 'bundle install'

- task: Gradle@2
  inputs:
    gradleWrapperFile: 'gradlew'
    tasks: 'vendor'
    publishJUnitResults: false
    javaHomeOption: 'JDKVersion'
    sonarQubeRunAnalysis: false
    options:  --scan --stacktrace --info --debug --gradle-user-home $(Build.SourcesDirectory)


- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: './logstash-input-azure_event_hubs-1.2.2.gem'
    ArtifactName: 'drop'
    
# - script: bundle exec rake
#   displayName: 'bundle exec rake'
- script: |
    bundle install --retry=3 --jobs=4
    gem build
  displayName: 'bundle install'